.spinner-wrapper {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinner {
  width: 15px;
  height: 15px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #a00da5;
  border-radius: 50%;
  animation: spin 0.8s ease-in-out infinite;
}

/* Анимация */
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
